
HTMLtoPDFDemoApp/.vs/HTMLtoPDFDemoApp/v16/.suo
HTMLtoPDFDemoApp/.vs/HTMLtoPDFDemoApp/v16/Server/sqlite3/db.lock
HTMLtoPDFDemoApp/.vs/HTMLtoPDFDemoApp/v16/Server/sqlite3/storage.ide
HTMLtoPDFDemoApp/.vs/HTMLtoPDFDemoApp/v16/Server/sqlite3/storage.ide-shm
HTMLtoPDFDemoApp/.vs/HTMLtoPDFDemoApp/v16/Server/sqlite3/storage.ide-wal
